*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    //backdrop-filter: blur(30px);
    font-family: "Poppins", sans-serif;
}
.outer
{   height: 925px;
    background-image: linear-gradient(to right , rgba(255, 0, 0, 0.54), rgba(0, 0, 255, 0.49)), url('https://images.shiksha.com/mediadata/images/1646076383phptctEiD.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
}
.login
{
   height: 700px;
   width: 30%;
   border: 1px solid white;
   margin: 40px auto;
   background-color: white;
   margin-top: 100px;
}
.logo
{
    height:200px;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
    
}
.logo img
{
    height: 160px;
    margin-top: 30px;
}
.headline
{
    height: 70px;
    width: 100%;
    //border: 1px solid black;
    margin-top: 5px; 
    text-align: center;
}
.headline h2{
    color: darkred;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.maincontainer
{
    height: 400px;
    width: 90%;
    margin: 0px auto;
    //border: 1px solid black;
    padding: 25px;
    
}
.maincontainer label
{
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 35px;
    font-weight: 600;
}
.maincontainer input
{
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    
}
.maincontainer button
{
    text-transform: uppercase;
    background-color: darkred;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    width: 100%;
    height: 60px;
    padding: 20px;
    width: 100%;
    border: 0px;
}